<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<form th:method="post" th:action="@{/admin/new}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <label for="newAdmin">Выберите пользователя:</label>
    <select name="newAdmin" id="newAdmin">
        <option th:each="person: ${people}" th:value="${person.getId()}" th:text="${person.getUsername()}"></option>
    </select>
    <input type="submit" value="Назначить нового админа!">
</form>

<br>

<a th:href="@{/person}">Личный кабинет</a>

</body>
</html>